<div class="hero-content">
  <div class="profile-image-container">
    <img src="assets/foto.jpeg" alt="Foto de Leonardo Marotta">
  </div>
  <h1 i18n class="hero-title">Olá!</h1>
  <p i18n class="hero-subtitle">Sou Leonardo, desenvolvedor Back-end, DevOps e estudante de Ciência da Computação.</p>
  <div class="hero-navigation">
    <a mat-button href="#about" i18n>Sobre Mim</a>
    <a mat-button href="#experience" i18n>Experiência</a>
    <a mat-button href="#skills" i18n>Habilidades</a>
    <a mat-raised-button color="primary" href="#projects" i18n>Meus Projetos</a>
    <a mat-button href="#contact" i18n>Contato</a>
  </div>
</div>
