<div style="max-width: 900px;">
  <h2 i18n>Experiência</h2>

  <mat-card class="job-card">
    <mat-card-header>
      <mat-card-title i18n>Desenvolvedor Back-end (Estagiário)</mat-card-title>
      <mat-card-subtitle>Augen Engenharia S.A. | Remoto | Jan 2025 - Presente</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li i18n>Desenvolvi um fluxo de trabalho orientado a eventos com AWS Lambda em Python para processar um alto volume de mensagens de IoT.</li>
        <li i18n>Realizei a manutenção e o desenvolvimento de novas funcionalidades para um sistema em PHP (Laravel).</li>
        <li i18n>Utilizei Docker para padronizar e gerenciar ambientes de desenvolvimento e produção.</li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card class="job-card">
    <mat-card-header>
      <mat-card-title i18n>Desenvolvedor de Software (Estagiário)</mat-card-title>
      <mat-card-subtitle>Mertins Tecnologias | Pelotas, RS | Nov 2023 - Jan 2025</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li i18n>Desenvolvi e mantive aplicações full-stack em Java com PostgreSQL.</li>
        <li i18n>Corrigi bugs e implementei melhorias contínuas em aplicações Java.</li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
