<section id="experience" class="experience-container">
  <h2 i18n>Experiência [cite: 19]</h2>

  <div class="job">
    <h3 class="job-title" i18n>Desenvolvedor Back-end (Estagiário) [cite: 20]</h3>
    <p class="job-company-date">Augen Engenharia S.A. | Remoto | Jan 2025 - Presente [cite: 20, 21]</p>
    <ul>
      <li i18n>Desenvolvi um fluxo de trabalho orientado a eventos com AWS Lambda em Python para processar um alto volume de mensagens de IoT. [cite: 22]</li>
      <li i18n>Realizei a manutenção e o desenvolvimento de novas funcionalidades para um sistema em PHP (Laravel). [cite: 23]</li>
      <li i18n>Utilizei Docker para padronizar e gerenciar ambientes de desenvolvimento e produção. [cite: 24]</li>
    </ul>
  </div>

  <div class="job">
    <h3 class="job-title" i18n>Desenvolvedor de Software (Estagiário) [cite: 26]</h3>
    <p class="job-company-date">Mertins Tecnologias | Pelotas, RS | Nov 2023 - Jan 2025 [cite: 26, 27]</p>
    <ul>
      <li i18n>Desenvolvi e mantive aplicações full-stack em Java com PostgreSQL. [cite: 28]</li>
      <li i18n>Corrigi bugs e implementei melhorias contínuas em aplicações Java. [cite: 29]</li>
    </ul>
  </div>

  <h2 i18n>Experiência Voluntária [cite: 31]</h2>

  <div class="job">
      <h3 class="job-title" i18n>Pesquisador Voluntário [cite: 32]</h3>
      <p class="job-company-date">Hub de Inovação em Inteligência Artificial (UFPel) | Jul 2024 - Presente [cite: 32, 34]</p>
      <ul>
          <li i18n>Executei tarefas relacionadas a Processamento de Linguagem Natural (NLP) e análise de riscos. [cite: 35]</li>
          <li i18n>Desenvolvi anotações para conjuntos de dados e criei relatórios de pesquisa. [cite: 36]</li>
      </ul>
  </div>
</section>
