<div id="research-experience" class="experience-wrapper">
  <div class="experience-grid">
    <div class="experience-card" *ngFor="let item of researchExperiences">
      <div class="experience-header">
        <div class="experience-icon">
          <mat-icon>{{ item.icon }}</mat-icon>
        </div>
        <div class="experience-info">
          <h3>{{ item.title }}</h3>
          <p class="company-name">{{ item.company }}</p>
          <p class="period">{{ item.period }}</p>
        </div>
      </div>
      
      <div class="experience-content">
        <ul>
          <li *ngFor="let description of item.description">
            {{ description }}
          </li>
        </ul>
        <div class="tech-tags">
          <span *ngFor="let tag of item.techTags">#{{ tag }}</span>
        </div>
      </div>
    </div>
  </div>
</div>