<app-language-switcher></app-language-switcher>

<main>
  <app-hero #section id="hero"></app-hero>
  <app-about #section id="about"></app-about>
  <app-education #section id="education"></app-education>
  <app-experience #section id="experience"></app-experience>
  <app-research-experience #section id="research-experience"></app-research-experience>
  <app-skills #section id="skills"></app-skills>
  <app-projects #section id="projects"></app-projects>
  <app-languages #section id="languages"></app-languages>
  <app-contact #section id="contact"></app-contact>
</main>
