<section id="about" class="about-container">
  <h2 i18n>Sobre Mim [cite: 4]</h2>
  <p i18n>
    Com experiência em arquiteturas de nuvem, sistemas de IoT e desenvolvimento full-stack, atuo na construção e otimização de soluções serverless com AWS Lambda e na orquestração de ambientes com Docker. [cite: 5, 6] Já trabalhei em projetos front-end e back-end com React e Node.js e sou proficiente em linguagens como Python, Node.js, PHP (Laravel) e Java. [cite: 7]
  </p>
  <p i18n>
    Sou motivado por desafios que permitem meu crescimento em DevOps e desenvolvimento de software, buscando contribuir significativamente para o sucesso das equipes. [cite: 8] Sou fluente em português e inglês. [cite: 9]
  </p>
</section>
